<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-fw fa-users"></i>
    Administration
    <i class="fa fa-fw fa-caret-down"></i>
</a>
<ul class="dropdown-menu">
    <li>
        <a href="#manage-users">
            <i class="fa fa-fw fa-users"></i>
            Manage Users
        </a>
    </li>
</ul>
