<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-signin">
            <h2 class="form-signin-heading">
                <i class="fa fa-fw fa-lock"></i>
                Login
            </h2>
            <div id="login-errors"></div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <input autofocus id="login-username" class="form-control" type="text" placeholder="Username">
            </div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-key"></i>
                </div>
                <input id="login-password" class="form-control" type="password" placeholder="Password" autocomplete="off">
            </div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-shield"></i>
                </div>
                <input id="login-otp" class="form-control" type="password" placeholder="2FA Token (Optional)" autocomplete="off">
            </div>
            <button id="login-button" class="btn btn-primary btn-block" type="button">
                <i class="fa fa-fw fa-sign-in"></i>
                Authenticate
            </button>
        </form>
    </div>
</div>
