<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>{% block title %}{% end %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/content-padding.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/backbone.min.js"></script>
    {% block head %}{% end %}
</head>
<body>
    {% module menu() %}
    <div class="fluid-container">
        {% block content %}{% end %}
    </div><!-- /.container -->
</body>
</html>