<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>Login</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/login.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading">Login</h2>
            {% if errors is not None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-dismissable alert-danger">
                        <h4 class="alert-heading">Authentication Failure</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            {% raw xsrf_form_html() %}
            <input name="username"  type="text" class="form-control" placeholder="Username" autofocus>
            <input name="password"  type="password" class="form-control" placeholder="Password" autocomplete="off">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">Remember Me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

    </div>

</body>

</html>
